body{
	background:#e9fbeb;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;;
}

header {
	padding: 1em;
	color: white;
	background-color: black;
	clear: left;
	text-align: center;
}
#menu{
	width: 100%;
	height:35px;
	background-color: #900;
}
#menu a{
	display:block;
	height:35px;
	padding-top:5px;
	width: 25%;
	float: left;
	text-align:center;
	text-decoration:none;
	color:#78f483;	
}
#menu a:hover{
	background-color:yellow;
	color:red;
	font-weight:bold;			
}			
#container {
	width: 100%;
	border: 1px solid gray;
}			
#main{
	position: relative;
	margin: 0 auto;
	width: 1070px;
	background: #C93;
	border: 0px solid #ccc;
}
#slider{
	position: absolute;
}
.slide-box{
	width: 1330px; 
	height: 245px; 
	display: block;
}
.slicknav_menu {
	display:none;
}

@media screen and (max-width: 40em) {
	.js #menu {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
	}
}