body{
	margin: 20px auto;
	width: 90%;
}
ul{
	list-style-type: none;
	position: relative;
}
li{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #5d5c5a;
	float: left;
	position: relative;
}
li  a{
 	width: 150px;
	text-align: center;
	display: inline-block;
	padding: 20px 0;
	text-decoration: none;
	color: white;
	font-weight: bold;
	position: relative;
}
 li a:hover{
	background-color: red;
}
.hover{
	background-color: red;
}
ul li > .service1{
	display: none;
	position: absolute;
	padding-top: 0;
    margin-left:-27%;
}
ul li:hover > .service1{
	display: block;
}
ul li > .service2{
	display: none;
	position: absolute;
	padding-top: 0;
  	margin-left: 73.5%;
    margin-top: -39%;
}
ul li:hover > .service2{
	display: block;
}
.active{
	background-color: red;
}