#containter {
	width: 80%;
	margin: 0 auto;
}
#result {
	width: 400px;
	border: 1px solid green;
	height: 40px;
	font-size: 20px;
	line-height: 40px;
	text-indent: 10px;
}
a {
	text-decoration: none;
	padding: 10px 35px;
}
.calculator {
	width: 400px;
	border: 1px solid green;
	height: 220px;
}
.button {
	float: left;
	width: 82px;
	padding: 8px;
	border: 1px solid green;
	text-align: center;
	background-color: #EBE7E7;
}
.ac, .back {
	float: left;
	width: 182px;
	padding: 8px;
	border: 1px solid green;
	text-align: center;
	background-color: #EBE7E7;
}