body {
	font-family: helvetica, arial, sans-serif;
	font-size: 62,5%;
}
h1 {
	color: red;
	text-align: center;
}
form {
	width: 550px;
	margin: 50px auto;
	float: left;
}
form div {
	margin: 0px 0px 50px 0px;
}
fieldset {
	border: 2px solid gray;
}
label {
	display: block;
	width: 100px;
	float: left;	
	clear: left;
}
span {
	color: red;
}
.buttom {
	margin: 10px 0px 0px 250px;
	border: 1px solid black;
	padding: 10px;
}
.input-submit {
	margin-top: 20px;
	text-align: center;
}
#hoadon{
	width: 300px;	
	float: left;
	margin-left: 130px;
	display: none;
}
h3{
	font-size:  30px;
	text-align: center;
	margin: 0;
	color: red;
}
*{
	margin: 0;
}
td{
	padding: 5px;
	

}
.col1{
	width: 40%;
}
table{
	width: 100%;
}
